.leaflet-container {
    position: fixed !important;
    overflow: unset !important;
    height: 100%;
    width: 100%;
}

.leaflet-control {
    margin-top: 80px !important;
    margin-right: 20px !important;
    box-shadow: none!important;
}

.leaflet-control-attribution {
    margin-bottom: 10px !important;
    margin-left: 99px !important;
    width: 100% !important;
}
